<div class="page-header clearfix">
  <h1 class="pull-left">在庫管理ページ</h1>
  <div class="pull-right btn-fix">
    <%= link_to 'Home', purchases_path, class: "btn btn-default" %>
  </div>
  <div class="pull-right btn-fix">
    <%= link_to '新商品登録', new_stock_path, class: "btn btn-default" %>
  </div>
</div>

<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @stocks.each do |s| %>
        <tr>
          <td><%= s.name %></td>
          <td><%= s.price %></td>
          <td><%= s.count %></td>
          <td><%= link_to '補充', edit_stock_path(s) %></td>
          <td><%= link_to '削除', s, method: :delete, data: { confirm: 'よろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
