<div class="page-header clearfix">
  <h1 class="logo pull-left">VendingMachine</h1>
  <div class="pull-right btn-fix">
    <%= link_to "管理ページ", stocks_path, class: "btn btn-default" %>
  </div>
</div>

<div class="row drink-area">
  <% @stocks.each do |s| %>
    <div class="thumbnail col-xs-4 col-sm-4 col-md-4">
      <%= image_tag s.image.url %>
      <div class="caption">
        <h3><%= s.name %></h3>
        <h5 class="pull-right">¥<%= s.price %></h5>
        <% if s.count == 0 %>
          <p class="btn btn-danger">売り切れ</p>
        <% else %>
          <%= link_to "購入", done_purchase_path(s),class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <%= form_with(url: purchases_path, local: true) do |f| %>
    <div class="claerfix">
      <div class="btn-area pull-right">
        <%= f.submit "投入", class: "btn btn-default" %>
        <%= f.submit "払戻", name: 'return', class: "btn btn-default" %>
      </div>
      <div class="money-area pull-right">
        <%= f.select :money, %w[10 50 100 500 1000], include_blank: true %>
      </div>
    </div>
  <% end %>

  <p class="slot-area col-xs-offset-6 col-xs-6">投入金額：<%= @slot.money %>円</p>
</div>

<div class="row notice-area">
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
</div>
