<h1>自動販売機</h1>

<%= form_with(url: root_path, local: true) do |f| %>
  <%= f.select :money, %w[10 50 100 500 1000] %>
  <%= f.submit "投入" %>
  <%= f.submit "払戻", name: 'return' %>
<% end %>

<p>投入金額：<%= @slot.money %>円</p>

<br>
<% @stocks.each do |s| %>
  <tr>
    <td><%= image_tag s.image.url, size: '160x100' %></td>
    <td><%= s.name %></td>
    <td><%= s.price %></td>
    <% if s.count == 0 %>
      <td>売り切れ</td>
    <% else %>
      <td><%= link_to "Purchase", done_purchase_path(s) %></td>
    <% end %>
  </tr>
<% end %>
